.Header {
    margin-top: 60px;
    margin-bottom: 50px;
}
.IntroText p {
    font-size: 18px;
}
.Summary {
    font-size: 21px;
}
.downloadbtn {
    margin-left:10px;
    margin-right: 10px
}
.Contact {
    margin-bottom: 60px;
}
.Contact table {
    font-size: 18px;
}
.Reference h1{
    margin-left:16px;
    margin-right:16px;
}

.Skills {
    margin-top:60px;
    font-size: 18px;
    margin-bottom: 60px;
}
.Exp, .Edu {
    margin-top: 30px;
}
.CCB, .UBB, .HireWeb {
    margin-bottom: 50px;
    background-color: white;
    font-size: 18px;
}
.headExp, .headEdu{
    font-size: 50px;
    margin-bottom:50px;
}
.headSec {
    margin-top:35px;
    margin-bottom:20px;
}

.Financial, .University, .IT {
    margin-bottom:50px;
    
}
nav a {
    font-size: 25px;
}
.tableTools {
    margin-bottom:20px;
}
.tableTech {
    margin-bottom:50px;
}
.PersonalText {
    font-size: 18px;
    margin-bottom: 30px;
}
.University{
    margin-left:8px;
    margin-right:10px;
}